<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BASE_URL</key>
	<string>$(BASE_URL)</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>이 앱은 사용자의 위치를 기반으로 맞춤 추천을 제공합니다.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>이 앱은 사용자의 사진을 선택하여 맞춤 추천을 제공합니다.</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao697b2998ebd4e787b65f71b021f6f7dd</string>
			</array>
		</dict>
	</array>
	<key>CONSUMER_KEY</key>
	<string>$(CONSUMER_KEY)</string>
	<key>CONSUMER_SECRET</key>
	<string>$(CONSUMER_SECRET)</string>
	<key>KAKAO_KEY</key>
	<string>$(KAKAO_KEY)</string>
	<key>LOCATIONIMAGE_KEY</key>
	<string>$(LOCATIONIMAGE_KEY)</string>
	<key>NSUserActivityType</key>
	<array>
		<string>INSendMessageIntent</string>
		<string>INStartCallIntent</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>PretendardVariable.ttf</string>
	</array>
</dict>
</plist>
