//
//  Secret.xcconfig
//  Catchy
//
//  Created by 정의찬 on 1/13/25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


BASE_URL = http:/$()/ec2-3-34-59-249.ap-northeast-2.compute.amazonaws.com:8081
KAKAO_KEY = 697b2998ebd4e787b65f71b021f6f7dd
CONSUMER_KEY = eabcd2d66bec4c6aa8fb
CONSUMER_SECRET = f09fb53eb5ef4795a081
LOCATIONIMAGE_KEY = AIzaSyALZcBQC0a1y4NmWJuTTJjNmoa5NDgh8vI
