//
//  Secret.xcconfig
//  Catchy
//
//  Created by 정의찬 on 1/13/25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


BASE_URL = http:/$()/ec2-3-34-59-249.ap-northeast-2.compute.amazonaws.com:8081
KAKAO_KEY = baa22cd67b78ffdd75673cec745cb86b
